body{
    background-color:lightblue;
}

img{
    width:200px ;
}

div{
    text-align: center;
    color: darksalmon;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
}

body {
  background-color: lightblue;
  font-family: sans-serif;
}

.container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: orange;
}

h2 {
  color: black;
}

p {
  color: black;
}

img {
  width: 50%;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.nav {
  background-color: orange;
  padding: 10px;
  margin-bottom: 20px;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  margin-right: 20px;
  border: 1px solid #ddd; /* Add a light gray border around each list item */
  border-radius: 5px; /* Add a slight rounded corner effect */
  padding: 5px; /* Add some padding to create space between the border and the text */
}

.nav a {
  text-decoration: none;
  color: black;
  display: block; /* Make the anchor tag a block element to fill the entire list item */
  padding: 10px; /* Add some padding to create space between the text and the border */
}

.nav a:hover {
  text-decoration: underline;
  background-color: #f0f0f0; 
}
#personal-info ul {
    font-size: 20px;

}
#hobbies ul {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}
#about-me ul {
    font-size: 20px;

}